@tailwind base;
@tailwind components;
@tailwind utilities;

/* 이모지 애니메이션 정의 */
@keyframes floatEmoji {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(10px, -10px) rotate(5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.animate-floatEmoji {
  position: absolute;
  animation: floatEmoji 3s ease-in-out infinite;
}

/* 홈 화면 이외의 페이지용 애니메이션 */
@keyframes floatTop {
  0% { transform: translate(-100%, 20px); }
  50% { transform: translate(100%, 20px); }
  100% { transform: translate(-100%, 20px); }
}

@keyframes floatBottom {
  0% { transform: translate(100%, calc(100vh - 40px)); }
  50% { transform: translate(-100%, calc(100vh - 40px)); }
  100% { transform: translate(100%, calc(100vh - 40px)); }
}

.animate-floatTop {
  animation: floatTop 15s linear infinite;
}

.animate-floatBottom {
  animation: floatBottom 15s linear infinite;
}
